*{
    text-align: center;
}
.caja{
    width: 500px;
    height: 200px;
    /*background-color: aquamarine;*/
    margin: 15px 15px;
    display: inline-block;
    border: 5px solid black;
    background-image: url("https://marketplace.canva.com/EAE-baKUJXc/1/0/1600w/canva-fondo-virtual-para-zoom-con-flores-yMcxDuKYVPo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}   

h3{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

a{
    background-color: black;
    padding: 8px 8px;
    color: white;
    border-radius: 10px 10px 10px 10px;
}

a:hover{
    background-color: white;
    color: black; /*comentario*/
    cursor: pointer;
}

